= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.mb-4
    - unless salsa_username.nil?
      .card
        .card-header.bg-debian.text-white
          Fabre sign in with salsa.debian.org
        .card-body


          %table.table.mb-0
            %tr
              %th
                Salsa user name
              %td= salsa_username
            %tr
              %th
                Salsa avatar
              %td= image_tag(salsa_avatar)
            %tr
              %th
                Salsa user name
              %td
                = salsa_name
            %tr
              %th
                Salsa E-mail address
              %td
                = salsa_email
        .card-footer
          = link_to("/") do
            %button.btn.btn-primary
              %i.ri-home-4-line
                Back to Home
    - else
      .card
        .card-header
          Fabre sign in with salsa.debian.org
        .card-body
