.container
  %section.m-3
    - unless @salsa_user.nil?
      .card
        .card-header
          Fabre sign in with salsa.debian.org
        .card-body

          Sign in as
          = image_tag(@salsa_user.avatar_url) do
            = link_to(@salsa_user.web_url) do
              = @salsa_user.username

        .card-footer
    - else
      .card
        .card-header
          Fabre sign in with salsa.debian.org
        .card-body
