= partial "layouts/topbar", locals: { title: page_title}

.container
  %section.m-3
    .card
      .card-header.bg-debian.text-white
        Sign in with salsa.debian.org
      .card-body
        On this website, Cookie is used to distinguish logged in user account.
        By using cookie, the following web site features are enabled.
        %ul
          %li
            Enable bookmark button
            %i.ri-bookmark-line
          %li
            Enable affects me button
            %i.ri-fire-line
          %li
            Enable to upvote button
            %i.ri-thumb-up-line
          %li
            Enable to upload installed package list
            %i.ri-save-3-line

        It is an additional feature, so if you do not want above features, there is no need to login with
        = link_to("https://salsa.debian.org") do
          salsa.debian.org
        account at all.
      .card-footer

        = form_tag salsa_request_uri, method: "GET" do |f|
          = hidden_field_tag :client_id, value: salsa_client_id
          = hidden_field_tag :redirect_uri, value: salsa_redirect_uri
          = hidden_field_tag :response_type, value: salsa_response_type
          = hidden_field_tag :state, value: salsa_state
          = hidden_field_tag :scope, value: salsa_scope
          %span.input-group-btn
            = submit_tag "Sign-in with salsa.debian.org account", class: "btn btn-primary"
