= partial "layouts/topbar", locals: { title: page_title}

.container
  %section.m-3
    .card
      .card-header.bg-debian.text-white
        Sign out from fabre.xdump.org
      .card-body
        For improving user experience, the following user related data is kept on the server.
        %ul
          %li User name on salsa.debian.org
          %li Avatar url on salsa.debian.org
          %li Session ID

      .card-footer
        = link_to("/") do
          %button.btn.btn-primary
            %i.ri-home-4-line
              Back to Home
