.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800
    Fail2ban sshd
.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary
      Fail2ban logs (fail2ban.log)
  .card-body
    - if @records
      .table-responsive.table-striped
        %table.table
          %tr
            %th
              Date
            %th
              Action
            %th
              IP
            %th
              Continent
            %th
              Country
          - @records.each_with_index do |record, index|
            %tr
              %td
                = record[:timestamp]
              %td
                = record[:action]
              %td
                = record[:ip]
              %td
                = record[:continent]
              %td
                = record[:country]
            
