%footer.footer.section.py-5
  .row
    .col-12.col-lg-6.mb-4.mb-lg-0
      %p.mb-0.text-center.text-xl-left
        Copyright © 2020-2021
        = link_to("https://xdump.org") do
          kenhys
      = link_to("https://en.wikipedia.org/wiki/Jean-Henri_Fabre") do
        To see is to know.
          
    .col-12.col-lg-6
      Powered by
      = link_to("https://groonga.org") do
        = image_tag("/images/groonga-logo.svg", { width: "88px", height: "31px", alt: "Powered by The Groonga Project logo. This banner image is licensed by CC 3.0" })
      ,
      = link_to("http://ranguba.org/#about-rroonga") do
        = image_tag("/images/rroonga-logo.svg", { :width => "88px", :height => "31px", :alt => "Powered by The Ranguba Project logo. This banner image is licensed by CC 3.0"})
      ,
      = link_to("https://udd.debian.org/") do
        UDD
      Sponsored by
      = link_to("https://fosshost.org/") do
        = image_tag("/images/fosshost.org_Host_Light_mini.png", { :width => "128px", :height => "64px", :alt => "Sponsored by FOSSHOST"})
