%meta{ charset: "UTF-8" }
%meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
%title
  = title
%meta{ name: "author", content: "Fabre Project" }
%meta{ name: "description", content: "Finding and fixing bug make 'unstable life' comfortable" }
%meta{ name: "keywords", content: "debian, bugs.debian.org" }
%link{ ref: "canonical", href: "https://fabre.debian.net" }

%link{ property: "twitter:card", content: "summary_large_image" }
%link{ property: "twitter:url", content: "https://fabre.xdump.org" }
%link{ property: "twitter:title", content: "Fabre - Yet another front end of bugs.debian.org" }
%link{ property: "twitter:description", content: "Fabre is yet another front end of bugs.debian.org. It aims to help Debian members to find or fix bugs" }
%link{ property: "twitter:image", content: "https://fabre.xdump.org/images/fabre-preview.png" }

= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css", media: "screen"
= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.css", media: "screen"
= stylesheet_link_tag "volt"
= stylesheet_link_tag 'application'
= favicon_tag 'favicon.ico'

/= javascript_include_tag "jquery"
/= javascript_include_tag "jquery-ujs"

/= stylesheet_link_tag "/autocomplete.js/css/autoComplete.css"
