!!! Strict
%html
  %head
    = partial "layouts/meta", locals: { title: page_title }
  %body.bg-soft
    = partial "layouts/header", locals: { title: page_title }

    .container-fluid
      .row
        .col-12

          = partial "layouts/sidebar", locals: { title: page_title}

          %main.content
            = yield
            = partial "layouts/footer", locals: { title: page_title}

    /= javascript_include_tag "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js", defer: true
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js", defer: true
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/16.1.3/smooth-scroll.min.js", defer: true
    = javascript_include_tag "https://cdn.jsdelivr.net/npm/sweetalert2@10.15.6/dist/sweetalert2.min.js", defer: true
    = javascript_include_tag "volt", defer: true
    = javascript_include_tag "application.js", defer: true
