.originator {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5fa;
  border: 2px solid #cccccc;
  margin-left:80px;
}
.originator .icon {
  position: absolute;
  left: -80px;
  top: 0;
}
.originator::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #cccccc;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.originator::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -12px;
  top: 20px;
  border-right: 15px solid #f5f5fa;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}


.commentator {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background-color: #f5f5fa;
  border: 2px solid #cccccc;
  margin-right: 80px;
  margin-left: 60px;
}
.commentator .icon {
  position: absolute;
  right: -80px;
  top: 0;
op: 0;
}
.commentator::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -15px;
  top: 20px;
  border-left: 15px solid #cccccc;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
.commentator::after{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -12px;
  top: 20px;
  border-left: 15px solid #f5f5fa;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

.bg-debian {
  background-color: #a80030 !important;
}

.card-header .bg-debian {
  color: #ffffff;
}

.affected-form {
  float: right;
  margin: 0.2em;
}

.bookmark-form {
  float: right;
  margin: 0.2em;
}

.btn-sidebar {
  width: 200px;
}

.btn-fabre {
  position: fixed;
  bottom: 1em;
  width: 200px;
}

.blockquote {
    position: relative;
    padding: 0px 0px 0px 30px;
    background: #f5f5f5;
    color: #555555;
    border-left: 3px solid #abc2e8;
    margin: 10px auto;
    font-size: 0.9em;
}
 
.blockquote:before{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 5px;
    vertical-align: middle;
    content: "\f10d";
    font-family: FontAwesome;
    color: #abc2e8;
}
 
.blockquote p {
    padding: 0;
    margin: 10px 0 10px;
}

.btn i {
    font-size: 0.8em;
}

.table td {
    padding: 0.2em;
}

.done {
    text-decoration: line-through;
    color: #555555;
}

.accordion-button:after {
    background-image: none;
    content: "\ea13";
    font-family: "remixicon";
}

a {
    text-decoration: solid underline #9999ff 2px;
}

span a {
    text-decoration: none;
}
button a {
    text-decoration: none;
}

div.nav-tabs a {
    text-decoration: none;
}

li.page-item a {
    text-decoration: none;
}
