= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12
    .card
      .card-header.bg-debian.text-white
        Maintained by
        = @maintainer
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Severity
              %th
                Subject
            - @records.each_with_index do |bug, index|
              %tr
                %td
                  = link_to("/bugs/show/#{bug._key}") do
                    \#
                    = bug._key
                = partial "layouts/severity", locals: { bug: bug }
                %td
                  %p
                    %b
                      = bug.package._key
                      = bug.subject
                      - if bug.affects_stable
                        %span.badge.badge-pill.badge-success
                          stable
                      - if bug.affects_testing
                        %span.badge.badge-pill.badge-info
                          testing
                      - if bug.affects_unstable
                        %span.badge.badge-pill.badge-danger
                          unstable
                  %p
                    - if bug.comment.size > 1
                      %button.btn.btn-sm.btn-dark.disabled
                        %i.ri-discuss-line.icon-sm
                          = bug.comment.size
                    - else
                      %button.btn.btn-sm.btn-warning.disabled
                        %i.ri-chat-2-line.icon-sm
                          = bug.comment.size
                    %button.btn.btn-sm.btn-dark.disabled
                      %i.ri-line-chart-line
                        - if bug.package
                          = bug.package.popcon
                        - else
                          ?
