= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.grid-margin.stretch-card
    .card
      .card-header.bg-debian.text-white
        Maintained by
        = @maintainer
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Subject
            - @records.each_with_index do |bug, index|
              - if pending?(bug) or done?(bug)
                %tr.bg-light
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, full_width: true }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: true }
              - else
                %tr
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, full_width: true }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: true }
