.row
  .col-12.grid-margin.stretch-card
    .card
      .card-header.bg-bugs
        Sync popcon data
      .card-body
        %p
          Popcon data was uploaded.

        %p
          Total 
          = @packages.size
          packages were synced with Fabre.

      .card-footer
        = link_to("/home") do
          %button.btn.btn-primary
            %i.ri-home-4-line
              Back to Home
