.row
  .col-12.grid-margin.stretch-card
    .card
      .card-header.bg-bugs
        Quit from fabre.xdump.org
      .card-body
        %p
          User account was deleted from Fabre. Thank you!

        %p
          Please remove Authorized application from salsa.debian.org.
          See
          = link_to("https://salsa.debian.org/profile/applications") do
            "Fabre sign in with salsa.debian.org"
          about details.

      .card-footer
        = link_to("/home") do
          %button.btn.btn-primary
            %i.ri-home-4
              Back to Home
