= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.mb-4
    = form_tag "/api/v1/settings", remote: true do |f|
      .card
        .card-header.bg-debian.text-white
          Fabre settings
        .card-body
          %p
            Control whether search score should be displayed or not
            = check_box_tag "display_score", checked: true, data: { toggle: "toggle", size: "sm" }
          %p
            Select Timezone
            = select_tag :timezone, :options => @timezones, :selected => "Asia/Tokyo"
        .card-footer
          = hidden_field_tag :username, value: @user._key
          = hidden_field_tag :api_key, value: @user[:api_key]
          = submit_tag "Update", class: "btn btn-primary"

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Sync your installed package information with Fabre
      .card-body
        Upload popcondata file.
        You should create upload file via /usr/sbin/popularity-contest --su-nobody.
        Note that popcon data contains some sensitive package information (custom binary package names) which is installed to your system.

        %p
          If you want to sync popcon data automatically, you can customize popularity-contest.d.
        %pre.alert.alert-primary
          $ cat /etc/popularity-contest.d/fabre.conf
          KEYRING="$KEYRING --keyring /usr/share/keyrings/fabre-archive-keyring.gpg"
          POPCONKEY="$POPCONKEY -r 4ADFF9A6AEDE59F2BE07888E977E23B519EDEC29"
          SUBMITURLS="$SUBMITURLS http://fabre.debian.net/api/v1/popcon/[YOUR_SALSA_USERNAME]/[YOUR_FABRE_API_KEY]"

        %p
          For example, use
          - url = "SUBMITURLS=\"$SUBMITURLS http://fabre.debian.net/api/v1/popcon/#{@user._key}/#{@user[:api_key]}\""
          = url

        %p
          You can download keyring via https://fabre.debian.net/fabre-archive-keyring.gpg

      .card-footer

        = form_tag "/settings/popcon", multipart: true do |f|
          = hidden_field_tag :username, value: @user._key
          = hidden_field_tag :api_key, value: @user[:api_key]
          = file_field_tag :popcondata
          %i.ri-delete-bin
          = submit_tag "Upload", class: "btn btn-primary"

.row
  .col-12.mb-4
    .card
      .card-header.bg-danger.text-white
        Quit from Fabre
      .card-body
        Delete account from Fabre.
        This action is destructive, thus if you want to use additional search feature
        with Fabre, please signin with salsa.debian.org again.

      .card-footer

        = form_tag "/quit" do |f|
          %span.input-group-btn
            %i.ri-delete-bin
            = submit_tag "Quit with Fabre", class: "btn btn-danger"
