= partial "layouts/topbar", locals: { title: page_title }

.row.mb-5
  .col-12.grid-margin.stretch-card 
    .card
      .card-header.bg-debian.text-white
        What is Fabre?
      .card-body
        %p
          An experiment service which try to improve user experience with finding or fixing Debian related bugs.

        %p
          There are many bugs to be fixed by you!

        %p
          Finding and fixing bug make "unstable life" comfortable.
        
        %p
          See
          = link_to("https://slide.rabbit-shocker.org/authors/kenhys/debconf2020-online/", :class => "bg-light") do
            %mark
              An experiment about personalized front-end of bugs.debian.org
          about Fabre.

        %p
          This is a personal, unofficial experiment in alpha stage.

.row
  .col-12.grid-margin.stretch-card 
    .card
      .card-header.bg-light.text-black
        FAQ
      .card-body
        = partial "layouts/faq_summary", locals: { title: page_title }
