.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800
    ServiceLogs table
.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary
      Groonga ServiceLogs table
  .card-body
    .table-responsive.table-striped
      %table.table
        %tr
          %th
            Type
          %th
            Timestamp
          %th
            Message

        - @records.each_with_index do |record, index|
          %tr
            %td
              = record.type._key
            %td
              = record.timestamp.utc
            %td
              = record.message
          
