.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800
    Sessions table
.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary
      Groonga Sessions table
  .card-body
    .table-responsive.table-striped
      %table.table
        %tr
          %th
            Key
          %th
            UUID
          %th
            Created
          %th
            Updated

        - @records.each_with_index do |record, index|
          %tr
            %td
              = record._key
            %td
              = record.uuid
            %td
              = record.created_at.utc
            %td
              = record.updated_at.utc
          
