.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800
    Users table
.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary
      Groonga Users table
  .card-body
    .table-responsive.table-striped
      %table.table
        %tr
          %th 
            Name
          %th
            Admin
          %th
            Created
          %th
            Updated
          %th
            Avatar(URL)
          %th
            Avatar(FILE)

        - @records.each_with_index do |record, index|
          %tr
            %td
              = record._key
            %td
              = record.admin
            %td
              = record.created_at.utc
            %td
              = record.updated_at.utc
            %td
              = record.avatar_url
            %td
              = record.avatar_path
          
