%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  = link_to("", class: "sidebar-brand d-flex align-items-center justify-content-center") do
    .sidebar-brand-icon.rotate-n-15
      %i.ri-admin-line
    .sidebar-brand-text.mx-3
      Fabre Admin

  %hr.sidebar-divider.my-0

  %li.nav-item.active
    = link_to("/admin/", class: "nav-link") do
      %i.ri-dashboard-line
      %span
        Dashboard

  %hr.sidebar-divider

  .sidebar-heading
    Fabre

  %li.nav-item
    = link_to("", class: "nav-link collapsed", data: { toggle: "collapse", target: "#collapseTwo" }, aria: { expanded: "true", controls: "collapseTwo" }) do
      %i.ri-history
      %span
        Logs
    #collapseTwo.collapse{ aria: { labelledby: "headingTwo", parent: "#accordionSidebar" } }
      .bg-white.py-2.collapse-inner.rounded
        %h6.collapse-header
          Nginx
        = link_to("/admin/nginx/access", class: "collapse-item") do
          Access Logs
        = link_to("/admin/nginx/error", class: "collapse-item") do
          Error Logs
        .collapse-divider
        %h6.collapse-header
          Padrino
        = link_to("/admin/padrino/production", class: "collapse-item") do
          Production
        .collapse-divider
        %h6.collapse-header
          Groonga
        = link_to("/admin/groonga/log", class: "collapse-item") do
          Groonga logs
        = link_to("/admin/groonga/query", class: "collapse-item") do
          Query logs

  %li.nav-item
    = link_to("", class: "nav-link collapsed", data: { toggle: "collapse", target: "#collapseTables" }, aria: { expanded: "true", controls: "collapseTables" }) do
      %i.ri-history
      %span
        Tables
    #collapseTables.collapse{ aria: { labelledby: "headingTwo", parent: "#accordionSidebar" } }
      .bg-white.py-2.collapse-inner.rounded
        %h6.collapse-header
          Tables
        = link_to("/admin/table/sessions", class: "collapse-item") do
          Sessions
        = link_to("/admin/table/users", class: "collapse-item") do
          Users
        = link_to("/admin/table/servicelogs", class: "collapse-item") do
          ServiceLogs
        = link_to("/admin/table/servicequeues", class: "collapse-item") do
          ServiceQueues

  %hr.sidebar-divider

  .sidebar-heading
    System

  %li.nav-item
    = link_to("", class: "nav-link", data: { toggle: "collapse", target: "#collapseFail2ban" }, aria: { expanded: "true", controls: "collapseFail2ban" }) do
      %i.ri-history
      %span
        Fail2ban
    #collapseFail2ban.collapse{ aria: { labelledby: "fail2ban", parent: "#accordionSidebar" } }
      .bg-white.py-2.collapse-inner.rounded
        %h6.collapse-header
          Logs
        = link_to("/admin/fail2ban/sshd", class: "collapse-item") do
          sshd
        = link_to("/admin/fail2ban/botsearch", class: "collapse-item") do
          botsearch
