!!! 5
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => :viewport, :content => "width=device-width,initial-scale=1,shrink-to-fit=no"}
    %title Fabre Admin
    = favicon_tag 'favicon.ico'
    %link{ href: "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i", rel: :stylesheet }

    %link{ href: "/admin/sb-admin-2/css/sb-admin-2.min.css", rel: :stylesheet }
    = stylesheet_link_tag "remixicon"
    = stylesheet_link_tag "application"

  %body
    #wrapper
      = partial "layouts/sidebar"

      #content-wrapper.d-flex.flex-column
        #content
          %nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow

            %button#sidebarToggleTop.btn.btn-link.d-md-none.rounded-circle.mr-3
              %i.ri-menu-line

            .topbar-divider.d-none.d-sm-block

            %ul.navbar-nav.ml-auto
              %li.nav-item.dropdown.no-arrow
                = link_to("", class: "nav-link dropdown-toggle", id: "#userDropdown", role: "button", data: { toggle: "dropdown", expanded: "false" } ) do
                  %span.mr-2.d-none.d-lg-inline.text-gray-600.small
                    Admin
                  /image

                .dropdown-menu.dropdown-menu-right.shadow.animated--grow-in{ aria: { labelledby: "userDrowdown" } }
                  = link_to("", class: "dropdown-item") do
                    %i.ri-profile-line
                    Profile
                  = link_to("", class: "dropdown-item") do
                    %i.ri-user-settings-line
                    Settings
                  = link_to("", class: "dropdown-item") do
                    %i.ri-logout-box-line
                    Sign out
          .container-fluid
            = yield

        %footer.sticky-footer.bg-white
          .container.my-auto
            .copyright.text-center.my-auto
              Copyright &copy; 2020 @kenhys

    = javascript_include_tag "jquery.min"
    = javascript_include_tag "bootstrap.bundle.min"
    = javascript_include_tag "jquery.easing.min"
    = javascript_include_tag "sb-admin-2.min"
    = javascript_include_tag "application"
