= partial "layouts/topbar", locals: { title: page_title }

%section
  .card
    .card-header.bg-debian.text-white
      FAQ
    .card-body
      %h1.h5
        About Fabre
      %dl
        %dt
          %i.ri-questionnaire-line.bg-secondary
          Q. Why did you launch fabre.d.n?
        %dd
          %i.ri-question-answer-line.bg-light
          A. Because I want to find untouched or affected bugs easily.

      -# %h1.h5
      -#   About Search Features
      -# %dl
      -#   %dt
      -#     %i.ri-questionnaire-line.bg-secondary
      -#     Q. Can I search all bugs of bugs.debian.org?
      -#   %dd
      -#     %i.ri-question-answer-line.bg-light
      -#     A. No. I don't have a plan to support it. There is no guarantee that all of bugs are available because of very limited server resources.
      -#   %dt
      -#     %i.ri-questionnaire-line.bg-secondary
      -#     Q. What are the searchable bugs?
      -#   %dd
      -#     %i.ri-question-answer-line.bg-light
      -#     A. Basically, not archived bugs and unstable related bugs.
      -#   %dt
      -#     %i.ri-questionnaire-line.bg-secondary
      -#     Q. How frequently bug information is updated?
      -#   %dd
      -#     %i.ri-question-answer-line.bg-light
      -#     A. Every 15 minutes

      %h1.h5
        About Privacy
      %dl
        %dt
          %i.ri-questionnaire-line.bg-secondary
          Q. Why Cookie is used?
        %dd
          %i.ri-question-answer-line.bg-light
          A. Keep session for providing better user experience.

      %h1.h5
        About Fabre System Internals
      %dl

        = partial "layouts/faq_summary", locals: { title: page_title}

        %dt
          %i.ri-questionnaire-line.bg-secondary
          Q. Why Cookie is used?
        %dd
          %i.ri-question-answer-line.bg-light
          A. Keep session for providing better user experience.

        %dt
          %i.ri-questionnaire-line.bg-secondary
          Q. Where is fabre.d.n hosted?
        %dd
          %i.ri-question-answer-line.bg-light
          A. It is located at
          =link_to("https://osuosl.org/") do
            OSUOSL - Oragon State Univercity Open Source Labs
          and sponsored by 
          =link_to("https://fosshost.org/") do
            FOSSHOST

      %h1.h5
        About Future Plan
      %dl
        %dt
          %i.ri-questionnaire-line.bg-secondary
          Q. When beta program (personalized search) will be ready?
        %dd
          %i.ri-question-answer-line.bg-light
          A. I'm not sure. It's time when It is ready.
        %dt
          %i.ri-questionnaire-line.bg-secondary
          Q. Where is the code of Fabre?
        %dd
          %i.ri-question-answer-line.bg-light
          A. It's hosted on salsa.d.o, but it is not public yet because it is not ready to collabollate. I'll make it open when it is ready.
