= partial "layouts/topbar", locals: { title: page_title }

%section
  - if @enable_search
    = form_tag "/bugs/search", class: "form-horizontal" do
      .input-group
        = text_field_tag :query, class: "form-control", placeholder: "Input search query here"
        %span.input-group-btn
          = submit_tag "Search", class: "btn btn-primary"

%section
  .card
    .card-header.bg-debian.text-white
      Help
    .card-body
      %dl
        - if @enable_search
          %dt
            = link_to("/about/search") do
              How to search with Fabre
          %dd
            It describes how to search with Fabre.
        %dt
          Privacy Policy
        %dd
          It describes about
          =link_to("/about/privacy") do
            privacy policy
        %dt
          FAQ
        %dd
          It describes about
          =link_to("/about/faq") do
            FAQ.
