.container
  %section.m-3
    %h1.h3
      How to Search bugs by Fabre
  %section.m-3
    %h1.h3
      How each bug is shown?
    %p
      Here is the sample design:
    .m-2
      .card
        .card-header
          Bug#999999
        .card-body
          a
          %table
            %tr
              %th a
              %td b
    .m-2
      .card.border-dark
        .card-header
          Bug#999999 Message#5
          %button.btn.btn-outline-success
            %i.ri-thumb-up-line
              12
          %button.btn.btn-outline-success
            %i.ri-bookmark-line
        .card-body
          .m-1
            .originator
              .icon.m-2
                = image_tag("https://seccdn.libravatar.org/gravatarproxy/e87149c331ffb5ac84eaf7a934da5864?s=180&default=identicon", { loading: "lazy", alt: "Avatar", width: "40px", height: "40px" })
              aaa
              bbb
              ccc
              ddd
              <pre>
              <a href="https://">hoge</a>
              </pre>
        .card-footer
          From: Foobar <a@example.com>
    .m-2
      .card
        .card-header
          Bug#999999 Message#10
          %button.btn.btn-outline-success
            %i.ri-thumb-up-line
              22
          %button.btn.btn-outline-success
            %i.ri-bookmark-line
        .card-body
          .m-1
            .commentator
              .icon.m-2
                = image_tag 'https://seccdn.libravatar.org/gravatarproxy/e87149c331ffb5ac84eaf7a934da5864?s=180&default=identicon', { loading: "lazy", alt: "Avatar", width: "40px", height: "40px" }
              aaaa
              bbb
              ccc
          
