.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800
    Groonga logs
.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary
      Groonga logs (groonga.log)
  .card-body
    .table-responsive.table-striped
      %table.table
        %tr
          %th
            Time
          %th
            Level
          %th
            Message

        - @records.each_with_index do |record, index|
          %tr
            %td
              = record[:timestamp]
            %td
              = record[:log_level]
            %td
              = record[:message]
          
