= partial "layouts/topbar", locals: { title: page_title}

- if @enable_login and session[:username]
  - @url_prefix = "/debian"
- else
  - @url_prefix = ""

.row.mb-4
  - if @affected
    .col-3.grid-margin.stretch-card
      .card
        .card-header.bg-debian.text-white
          Affected Bugs
        .card-body
          - if @affected.size > 0
            = link_to("#{@url_prefix}/bugs/affected") do
              %i.ri-fire-line
              = @affected.size
          - else
            %i.ri-fire-line
            = @affected.size

  - if @bookmarks
    .col-3
      .card
        .card-header.bg-debian.text-white
          Bookmarked Bugs
        .card-body
          - if @bookmarks.size > 0
            = link_to("#{@url_prefix}/bugs/bookmark") do
              %i.ri-bookmark-3-line
              = @bookmarks.size
          - else
            %i.ri-bookmark-line
            = @bookmarks.size

  - if @installed
    .col-3.grid-margin.stretch-card
      .card
        .card-header.bg-debian.text-white
          Installed packages
        .card-body
          %i.ri-archive-line
            = @installed.size

.row.mb-4
  .col-12.grid-margin.stretch-card
    .card
      .card-header.bg-debian.text-white
        Followup comments since
        = time_to_timezone(@since.utc)
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Details
            - @followups.each_with_index do |bug, index|
              %tr
                %td
                  = link_to("#{@url_prefix}/bugs/show/#{bug._key}") do
                    \#
                    = bug._key
                  %span.badge.badge-pill.badge-success
                    %i.ri-chat-new-line.rounded
                      = "+" + count_comment_since(bug.comment, @since).to_s
                %td
                  = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: true, url_prefix: @url_prefix }
