= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Affected Bugs
      .card-body
        .table-responnsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Severity
              %th
                Details
            - @records.each_with_index do |bug, index|
              %tr
                %td
                  = link_to("/bugs/show/#{bug._key}") do
                    \#
                    = bug._key
                %td
                  = partial "layouts/severity", locals: { bug: bug, full_width: true }
                %td
                  = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true }
