= partial "layouts/topbar", locals: { title: page_title}

- if @enable_login and session[:username]
  - @url_prefix = "/debian"
- else
  - @url_prefix = ""

.row
  .col-12
    %nav
      #nav-tab.nav.nav-tabs.mb-4{ role: "tablist" }
        - @active = "nav-wishlist-tab nav-item nav-link bg-warning"
        - @inactive = "nav-wishlist-tab nav-item nav-link"
        - ["all", "armel", "armhf", "arm64", "hurd-i386", "mips64el", "mipsel", "ppc64", "ppc64el", "riscv64", "sparc64", "sh", "sh4", "s390x", "fixme"].each do |port|
          - if @port == port
            - if @port == "all"
              =link_to("#{@url_prefix}/bugs/archtag", class: @active, role: "tab", aria: { selected: "true" } ) do
                = port.capitalize
                %small
                  = "(#{@records.n_records})"
            - else
              =link_to("#{@url_prefix}/bugs/archtag/#{port}", class: @active, role: "tab", aria: { selected: "true" } ) do
                = port.capitalize
                %small
                  = "(#{@records.n_records})"
          - else
            - if port == "all"
              =link_to("#{@url_prefix}/bugs/archtag", class: @inactive, role: "tab", aria: { selected: "false" } ) do
                = port.capitalize
            - else
              =link_to("#{@url_prefix}/bugs/archtag/#{port}", class: @inactive, role: "tab", aria: { selected: "false" } ) do
                = port.capitalize

= partial "layouts/pagination", locals: { records: @records, base_url: @base_url }

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        ArchtectureTags
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Details
            - @records.each_with_index do |bug, index|
              - if pending?(bug) or done?(bug) or wontfix?(bug)
                %tr.bg-gray-300
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, created: true, updated: false, url_prefix: @url_prefix }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: false, url_prefix: @url_prefix }
              - else
                %tr
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, created: true, updated: false, url_prefix: @url_prefix }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: false, url_prefix: @url_prefix }

= partial "layouts/pagination", locals: { records: @records, base_url: @base_url }

:javascript
  //$('button').on('click', function() {
  //  console.log($(this));
  //});
  $('#hoge').on('ajax:beforeSend', function(event, xhr, settings) {
    console.log("ajax:beforeSend");
    console.log($(this));
    console.log(settings);
  });
  $('#hoge').on('ajax:success', function(event, data, status, xhr) {
    console.log("ajax:success");
    console.log($(this));
  });
  $('#hoge').on('ajax:failure', function(event, xhr, status, error) {
    console.log("ajax:failure");
    console.log($(this));
    console.log(error);
  });
  $(document).ajaxSuccess(function(event, xhr, options, data) {
    console.log("ajaxSuccess!");
    console.log(data.status);
    $("#hoge").attr("class", "btn btn-bugs bookmarks");
  });
  $(document).ajaxError(function(event, xhr, settings, error) {
    console.log("ajaxError!");
    //console.log($(this));
    //console.log(event.target);
    //console.log(xhr);
    //console.log(settings);
    //console.log(error);
  });
