= partial "layouts/topbar", locals: { title: page_title}

- if @enable_login and session[:username]
  - @url_prefix = "/debian"
- else
  - @url_prefix = ""

.row
  .col-12
    %h1.h3
      %i.ri-bug-fill
      Bug#
      = @bug._key
      = @bug.subject
      = link_to("http://bugs.debian.org/#{@bug._key}") do
        %button.btn.btn-sm.btn-primary
          %i.ri-bug-line.ri-1x
          \#
          = @bug._key
      = link_to(pts_link(@bug)) do
        %button.btn.btn-sm.btn-primary
          %i.ri-archive-line.ri-1x
          = pts_label(@bug)
      = link_to("https://twitter.com/share?ref_src=twsrc%5Etfw", class: "twitter-share-button", data: { text: "Bug\##{@bug._key} #{@bug.subject}", url: "\nhttps://bugs.debian.org/#{@bug._key}\nhttps://fabre.debian.net/#{@bug._key}", show: { count: false }}) do
        %button.btn.btn-sm.btn-primary
          %i.ri-twitter-line
          twitter

.row
  .col-12.m-1
    .card
      .card-header.bg-debian.text-white
        - if @bug.package.long_description
          = @bug.package.long_description
        - else
          = @bug.subject
        - if @bug.affects_stable
          %span.badge.bg-success
            stable
        - if @bug.affects_testing
          %span.badge.bg-info
            testing
        - if @bug.affects_unstable
          %span.badge.bg-danger
            unstable
        - if @user
          - if @user.bookmark
            - @bookmarks = @user.bookmark.collect { |record| record._key }
          - if @bookmarks and @bookmarks.include?(@bug._key)
            - @bookmark_url = "/api/v1/bookmarks/delete"
          - else
            - @bookmark_url = "/api/v1/bookmarks/create"
          = form_for :bug, @bookmark_url, :class => "bookmark-form", :remote => true do |f|
            = f.hidden_field :dummy, :name => "bug", :value => @bug._key
            = f.hidden_field :dummy, :name => "username", :value => @user._key
            = f.hidden_field :dummy, :name => "api_key", :value => @user["api_key"]
            = f.hidden_field :dummy, :name => "state", :value => session[:state]
            %button.btn.btn-sm.bg-debian
              - if @bookmarks and @bookmarks.include?(@bug._key)
                %i#bookmark.ri-bookmark-3-line{ data: { toggle: "tooltip", placement: "top" }, title: "Bookmarked" }
              - else
                %i#bookmark.ri-bookmark-line{ data: { toggle: "tooltip", placement: "top" }, title: "Bookmark this bug" }
          - if @user.affected
            - @affected = @user.affected.collect { |record| record._key }
          - if @affected and @affected.include?(@bug._key)
            - @affected_url = "/api/v1/affected/delete"
          - else
            - @affected_url = "/api/v1/affected/create"
          = form_for :bug, @affected_url, :class => "affected-form", :remote => true do |f|
            = f.hidden_field :dummy, :name => "bug", :value => @bug._key
            = f.hidden_field :dummy, :name => "username", :value => @user._key
            = f.hidden_field :dummy, :name => "api_key", :value => @user["api_key"]
            = f.hidden_field :dummy, :name => "state", :value => session[:state]
            %button.btn.btn-sm.bg-debian
              - if @affected and @affected.include?(@bug._key)
                %i#affected.ri-fire-fill{ data: { toggle: "tooltip", placement: "top" }, title: "Affected!" }
              - else
                %i#affected.ri-fire-line{ data: { toggle: "tooltip", placement: "top" }, title: "Report affected bug" }
      .card-body
        .table-responsive
          %table.table
            - if @bug.originator
              %tr
                %th Reported by
                %td
                  = @bug.originator.fullname
            %tr
              %th Date
              %td
                = @bug.created_at.gmtime
            %tr
              %th Severity
              %td
                = partial "layouts/severity", locals: { bug: @bug, full_width: false}
            - if @bug.tag && @bug.tag.size.positive?
              %tr
                %th Tags
                %td
                  = bug_tags(@bug)

            - if @bug.blocked_by and @blocked_bugs
              - @blocked_bugs.each_with_index do |bug, index|
                - if bug.updated_at.to_s.include?("1970-01-01 09:00:00")
                - elsif done?(bug) or pending?(bug)
                  %tr.bg-light
                    - if index == 0
                      %th
                        Blocked by
                        %span.badge.badge-lg.bg-warning
                          = @blocked_bugs.size
                    - else
                      %th
                        %td
                          = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: true, url_prefix: @url_prefix}
                - else
                  %tr
                  - if index == 0
                    %th
                      Blocked by
                      %span.badge.badge-lg.bg-warning
                        = @blocked_bugs.size
                  - else
                    %th
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: true, url_prefix: @url_prefix }
      .card-footer
        #mailLauncher.accordion
          .accordion-item
            %h2#justReplyActionHeader.accordion-header
              %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#collapseJustReplyAction" } }, aria: { expanded: "true", controls: "collapseJustReplyAction" } }
                Just Reply
            #collapseJustReplyAction.accordion-collapse.collapse{ aria: { labelledby: "justReplyActionHeader" }, data: { bs: { parent: "#mailLauncher" }}}
              .accordion-body
                = link_to("mailto:#{@bug._key}@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} patch") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                    Patch
                = link_to("mailto:#{@bug._key}@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} moreinfo") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                    Need moreinfo
                = link_to("mailto:#{@bug._key}@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} fixed-upstream") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                    Fixed in upstream
                = link_to("mailto:#{@bug._key}@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} pending") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                    Pending(waiting upload)
                = link_to("mailto:#{@bug._key}-done@bugs.debian.org?Subject=#{@bug.subject}") do
                  %button.btn.btn-sm.btn-danger
                    %i.ri-mail-add-line
                    Close
          .accordion-item
            %h2#replySubmitterActionHeader.accordion-header
              %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#collapseReplySubmitterAction" } }, aria: { expanded: "true", controls: "collapseReplaySubmitterAction" } }
                Reply to submitter
            #collapseReplySubmitterAction.accordion-collapse.collapse{ aria: { labelledby: "replySubmitterActionHeader" }, data: { bs: { parent: "#mailLauncher" }}}
              .accordion-body
                = link_to("mailto:#{@bug._key}-submitter@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} patch") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                    Patch
                = link_to("mailto:#{@bug._key}-submitter@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} moreinfo") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                    Need moreinfo
                = link_to("mailto:#{@bug._key}-submitter@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} fixed-upstream") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      Fixed in upstream
                = link_to("mailto:#{@bug._key}-submitter@bugs.debian.org?Subject=#{@bug.subject}&Body=Control: tags #{@bug._key} pending") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      Pending(waiting upload)
                = link_to("mailto:#{@bug._key}-done@bugs.debian.org?Subject=#{@bug.subject}") do
                  %button.btn.btn-sm.btn-danger
                    %i.ri-mail-add-line
                      Close
          .accordion-item
            %h2#replyControlActionHeader.accordion-header
              %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#collapseReplyControlAction" } }, aria: { expanded: "true", controls: "collapseReplayControlAction" } }
                Send control command (Silently)
            #collapseReplyControlAction.accordion-collapse.collapse{ aria: { labelledby: "replyControlActionHeader" }, data: { bs: { parent: "#mailLauncher" }}}
              .accordion-body
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=tags #{@bug._key} patch") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      Patch
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=tags #{@bug._key} moreinfo") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      Need moreinfo
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=tags #{@bug._key} fixed-upstream") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      Fixed in upstream
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=tags #{@bug._key} pending") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      Pending(waiting upload)
          .accordion-item
            %h2#replyArchitectureTagsActionHeader.accordion-header
              %button.accordion-button.collapsed{ type: "button", data: { bs: { toggle: "collapse", target: "#collapseReplyArchitectureTagsAction" } }, aria: { expanded: "true", controls: "collapseReplyArchitectureTagsAction" } }
                Set Architecture Tags (Silently)
            #collapseReplyArchitectureTagsAction.accordion-collapse.collapse{ aria: { labelledby: "replyArchitectureTagsActionHeader" }, data: { bs: { parent: "#mailLauncher" }}}
              .accordion-body
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-arm@lists.debian.org%0D%0Ausertag #{@bug._key} %2B armel") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      armel
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-arm@lists.debian.org%0D%0Ausertag #{@bug._key} %2B armhf") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      armhf
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-arm@lists.debian.org%0D%0Ausertag #{@bug._key} %2B arm64") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      arm64
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-hurd@lists.debian.org%0D%0Ausertag #{@bug._key} %2B hurd-i386") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      hurd-i386
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-mips@lists.debian.org%0D%0Ausertag #{@bug._key} %2B mips64el") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      mips64el
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-mips@lists.debian.org%0D%0Ausertag #{@bug._key} %2B mipsel") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      mipsel
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-powerpc@lists.debian.org%0D%0Ausertag #{@bug._key} %2B ppc64") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      ppc64
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-powerpc@lists.debian.org%0D%0Ausertag #{@bug._key} %2B ppc64el") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      ppc64el
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-riscv@lists.debian.org%0D%0Ausertag #{@bug._key} %2B riscv64") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      riscv64
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-sparc@lists.debian.org%0D%0Ausertag #{@bug._key} %2B sparc64") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      sparc64
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-superh@lists.debian.org%0D%0Ausertag #{@bug._key} %2B sh") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      sh
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-superh@lists.debian.org%0D%0Ausertag #{@bug._key} %2B sh4") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      sh4
                = link_to("mailto:control@bugs.debian.org?Subject=#{@bug.subject}&Body=user debian-s390@lists.debian.org%0D%0Ausertag #{@bug._key} %2B s390x") do
                  %button.btn.btn-sm.btn-primary
                    %i.ri-mail-add-line
                      s390x

- if @comments
  - @comments.each_with_index do |comment, index|
    - if comment.spam == 0
      .row
        .col-12.m-1
          .card
            .card-header.bg-light
              %table.table-sm
                %tr
                  %th
                    = link_to("/bugs/show/#{comment.bug._key}", id: "#{comment.comment_number}") do
                      = comment["bug"]._key
                      %i.ri-links-line
                - if comment.date
                  %tr
                    %th
                      Date:
                      %td
                        = comment.date.gmtime
                - if comment.from
                  %tr
                    %th
                      From:
                      %td
                        = comment.from._key
                - if comment.to.count > 0
                  %tr
                    %th
                      To:
                    %td
                      = to_list(comment)
            = comment_id_tag(comment)
            .card-footer
              - if @user
                - if @user.like
                  - @likes = @user.like.collect { |record| record._key }
                - if @likes and @likes.include?(@bug._key)
                  - @likes_url = "/api/v1/likes/delete"
                - else
                  - @likes_url = "/api/v1/likes/create"
                = form_for :bug, @likes_url, :class => "form-horizontal", :remote => true do |f|
                  = f.hidden_field :dummy, :name => "bug", :value => @bug._key
                  = f.hidden_field :dummy, :name => "username", :value => @user._key
                  = f.hidden_field :dummy, :name => "api_key", :value => @user["api_key"]
                  = f.hidden_field :dummy, :name => "state", :value => session[:state]
                  %button.btn.btn-sm.btn-primary
                    - if @likes and @likes.include?(@bug._key)
                      %i#likes.ri-thumb-up-fill
                    - else
                      %i#likes.ri-thumb-up-line

= javascript_include_tag "https://platform.twitter.com/widgets.js"

:javascript
  bookmark = document.querySelector("#bookmark");
  bookmark.addEventListener("click", function(e) {
    e.preventDefault();
    form = document.querySelector(".bookmark-form");
    document.querySelector("input[name='authenticity_token']").value;
    var data = new FormData();
    data.append("authenticity_token", document.querySelector("input[name='authenticity_token']").value);
    data.append("bug", document.querySelector("input[name='bug']").value);
    data.append("username", document.querySelector("input[name='username']").value);
    data.append("api_key", document.querySelector("input[name='api_key']").value);
    data.append("state", document.querySelector("input[name='state']").value);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', form.action);
    xhr.addEventListener('loadend', function() {
      if (xhr.status === 200 && xhr.response['status'] == 200) {
        bookmark = document.querySelector("#bookmark");
        if (bookmark.classList[0] == "ri-bookmark-line") {
          bookmark.classList = ['ri-bookmark-3-line'];
        } else {
          bookmark.classList = ['ri-bookmark-line'];
        }
      } else {
        console.log(xhr.response);
      };
    });
    xhr.send(data);
  });
  affected = document.querySelector("#affected");
  affected.addEventListener("click", function(e) {
    e.preventDefault();
    form = document.querySelector(".affected-form");
    document.querySelector("input[name='authenticity_token']").value;
    var data = new FormData();
    data.append("authenticity_token", document.querySelector("input[name='authenticity_token']").value);
    data.append("bug", document.querySelector("input[name='bug']").value);
    data.append("username", document.querySelector("input[name='username']").value);
    data.append("api_key", document.querySelector("input[name='api_key']").value);
    data.append("state", document.querySelector("input[name='state']").value);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', form.action);
    xhr.addEventListener('loadend', function() {
      if (xhr.status === 200 && xhr.response['status'] == 200) {
        affected = document.querySelector("#affected");
        if (affected.classList[0] == "ri-fire-line") {
          affected.classList = ['ri-fire-fill'];
        } else {
          affected.classList = ['ri-fire-line'];
        }
      } else {
        console.log(xhr.response);
      };
    });
    xhr.send(data);
  });
