= partial "layouts/topbar", locals: { title: page_title}

- if @enable_login and session[:username]
  - @url_prefix = "/debian"
- else
  - @url_prefix = ""

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Bookmarked Bugs
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Details
            - @records.each_with_index do |bug, index|
              - if pending?(bug) or done?(bug)
                %tr.bg-gray-300
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, created: true, updated: false, url_prefix: @url_prefix }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: false, url_prefix: @url_prefix }
              - else
                %tr
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, created: true, updated: false, url_prefix: @url_prefix }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: false, url_prefix: @url_prefix }
