= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Maintainers
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                By maintainer
            - @records.each_with_index do |reporter, index|
              %tr
                %td
                  = link_to("/packages/maintainer/#{reporter[:email]}") do
                    = reporter[:email]
                %td
                  = reporter[:fullname]
