= partial "layouts/topbar", locals: { title: page_title}

- if @enable_login and session[:username]
  - @url_prefix = "/debian"
- else
  - @url_prefix = ""

.row
  .col-12
    %nav
      #nav-tab.nav.nav-tabs.mb-4{ role: "tablist" }
        - @active = "nav-wishlist-tab nav-item nav-link bg-warning"
        - @inactive = "nav-wishlist-tab nav-item nav-link"
        - ["all", "important", "normal", "minor", "wishlist", "fixme"].each do |severity|
          - if @severity == severity
            - if @severity == "all"
              =link_to("#{@url_prefix}/bugs/newcomer", class: @active, role: "tab", aria: { selected: "true" } ) do
                = severity.capitalize
                %small
                  = "(#{@records.n_records})"
            - else
              =link_to("#{@url_prefix}/bugs/newcomer/#{severity}", class: @active, role: "tab", aria: { selected: "true" } ) do
                = severity.capitalize
                %small
                  = "(#{@records.n_records})"
          - else
            - if severity == "all"
              =link_to("#{@url_prefix}/bugs/newcomer", class: @inactive, role: "tab", aria: { selected: "false" } ) do
                = severity.capitalize
            - else
              =link_to("#{@url_prefix}/bugs/newcomer/#{severity}", class: @inactive, role: "tab", aria: { selected: "false" } ) do
                = severity.capitalize

= partial "layouts/pagination", locals: { records: @records, base_url: @base_url }

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Bugs for newcomer
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Details
            - @records.each_with_index do |bug, index|
              %tr
                %td
                  = partial "layouts/keycomment", locals: { bug: bug, full_width: true, url_prefix: @url_prefix }
                %td
                  = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true, comment: nil, url_prefix: @url_prefix }

= partial "layouts/pagination", locals: { records: @records, base_url: @base_url }

