.container
  %section.m-3
    = form_tag "/bugs/search", class: "form-horizontal" do
      .input-group
        = text_field_tag :query, class: "form-control", placeholder: "Input search query here"
        %span.input-group-btn
          = submit_tag "Search", class: "btn btn-primary"

  %section.m-3
    .m-3
      = format("%.05f", @elapsed_time * 1000)
      [ms/q]
    .m-3
      .alert.alert-warning
        There is no such a bug.

