= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Missing reply
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Details
            - @records.each_with_index do |bug, index|
              - if pending?(bug) or done?(bug)
                %tr.bg-light
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, created: true, updated: false }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true }
              - else
                %tr
                  %td
                    = partial "layouts/keycomment", locals: { bug: bug, created: true, updated: false }
                  %td
                    = partial "layouts/bugsummary", locals: { bug: bug, created: false, updated: true }
