= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.grid-margin.stretch-card
    .toast.fade.show{ role: "alert", aria: { live: "assertive", atomic: true } }
      .toast-header.text-primary
        %i.ri-line
        %strong.mr-auto.ml-2
        %small.text-muted
          Search Results
        %button.ml-2.mb-1.close{ data: { dismiss: "toast" }, aria: { label: "Close" } }
          %span{ aria: { hidden: "true" } }
            x
      .toast-body
        = format("%.05f", @elapsed_time * 1000)
        [ms/q]

- if @records
  - @records.each_with_index do |comment, index|
    .row
      .col-12
        .card.mb-3
          .card-header.bg-debian.text-white
            Bug
            - p comment["_key"]
            - p comment["subject"]
            - p comment["bug_number"]
            - p comment["comment_number"]
            = comment["_key"]
            = comment["subject"]
          .card-body
            = link_to("/bugs/show/#{comment['bug_number']}") do
              %div.m-3
                %pre
                  = comment["content"]

-#/= will_paginate @bugs, renderer: WillPaginate::ViewHelpers::BoostrapLinkRenderer
