= partial "layouts/topbar", locals: { title: page_title}

.row
  .col-12.mb-4
    .card
      .card-header.bg-debian.text-white
        Tags
      .card-body
        .table-responsive
          %table.table
            %tr
              %th
                Bug#
              %th
                Details
              %th
                Updated
            - @records.each_with_index do |bug, index|
              %tr
                %td
                  = link_to("/bugs/show/#{bug._key}") do
                    \#
                    = bug._key
                %td
                  %p
                    %b
                      = bug.package._key
                    - if bug.subject.size > 80
                      = bug.subject[0..80] + "..."
                    - else
                      = bug.subject
                  %p
                    - if bug.comment.size > 1
                      %button.btn.btn-sm.btn-dark.disabled
                        %i.ri-discuss-line.icon-sm
                          = bug.comment.size
                    - else
                      %button.btn.btn-sm.btn-warning.disabled
                        %i.ri-chat-2-line.icon-sm
                          = bug.comment.size
                    %button.btn.btn-sm.btn-dark.disabled
                      %i.ri-line-chart-line
                        - if bug.package
                          = bug.package.popcon
                        - else
                          ?
                    - if bug.forwarded
                      %button.btn.btn-sm.btn-info
                        %i.ri-chat-forward-line
                          = link_to (bug.forwarded) do
                            Forwarded
                    - if patch?(bug)
                      %button.btn.btn-sm.btn-primary
                        %i.ri-git-pull-request-line
                          Patch
                %td
                  = time_to_timezone(bug.updated_at.utc)

:javascript
  //$('button').on('click', function() {
  //  console.log($(this));
  //});
  $('#hoge').on('ajax:beforeSend', function(event, xhr, settings) {
    console.log("ajax:beforeSend");
    console.log($(this));
    console.log(settings);
  });
  $('#hoge').on('ajax:success', function(event, data, status, xhr) {
    console.log("ajax:success");
    console.log($(this));
  });
  $('#hoge').on('ajax:failure', function(event, xhr, status, error) {
    console.log("ajax:failure");
    console.log($(this));
    console.log(error);
  });
  $(document).ajaxSuccess(function(event, xhr, options, data) {
    console.log("ajaxSuccess!");
    console.log(data.status);
    $("#hoge").attr("class", "btn btn-bugs bookmarks");
  });
  $(document).ajaxError(function(event, xhr, settings, error) {
    console.log("ajaxError!");
    //console.log($(this));
    //console.log(event.target);
    //console.log(xhr);
    //console.log(settings);
    //console.log(error);
  });
