%p
  - if bug.package
    %b
      = bug.package._key
  - if bug.subject and bug.subject.size > 80
    - if done?(bug)
      %span.done
        = bug.subject[0..80] + "..."
    - else
      = bug.subject[0..80] + "..."
  - else
    = bug.subject
%p
  - if comment
    - if bug.comment and bug.comment.size > 1
      %span.badge.badge-lg.bg-light.text-dark{ data: { toggle: "tooltip", placement: "top" }, title: "comments" }
        %a{ href: "#{url_prefix}/bugs/show/#{bug._key}" }
          %i.ri-discuss-line.icon-sm
          = bug.comment.size
      - if bug.package && bug.package.maintainer && bug.package.maintainer.email == "packages@qa.debian.org"
        %i.ri-team-line
    - else
      %span.badge.badge-lg.bg-warning{ data: { toggle: "tooltip", placement: "top" }, title: "comment" }
        %a{ href: "#{url_prefix}/bugs/show/#{bug._key}" }
          %i.ri-chat-2-line.icon-sm
          - if bug.comment
            = bug.comment.size
          - else
            ?
  = partial "layouts/severity", locals: { bug: bug, full_width: false }
  %span.badge.badge-lg.bg-gray-600{ data: { toggle: "tooltip", placement: "top" }, title: "recently installed" }
    %i.ri-line-chart-line
      - if bug.package
        = bug.package.popcon
      - else
        ?
  - if bug.forwarded
    %span.badge.badge-lg.bg-info
      %a{ href: "#{bug.forwarded}" }
        %i.ri-chat-forward-line
        Forwarded
  - if fixed_upstream?(bug)
    %span.badge.badge-lg.bg-tertiary
      %i.ri-emotion-happy-line
      Fixed Upstream
  - if moreinfo?(bug)
    %span.badge.badge-lg.bg-secondary.text-dark
      %i.ri-question-line
        Moreinfo
  - if patch?(bug)
    %span.badge.badge-lg.bg-secondary.text-dark
      %i.ri-git-pull-request-line
      Patch
  - if unreproducible?(bug)
    %span.badge.badge-lg.bg-secondary.text-dark
      %i.ri-git-pull-request-line
      Unreproducible
  - if pending?(bug)
    %span.badge.badge-lg.bg-tertiary
      %i.ri-check-line
      Pending
  - if done?(bug)
    %span.badge.badge-lg.bg-tertiary
      %i.ri-pause-circle-line
        Done
  - if wontfix?(bug)
    %span.badge.badge-lg.bg-tertiary
      %i.ri-stop-circle-line
        Wontfix
  - if ftbfs?(bug)
    %span.badge.badge-lg.bg-tertiary
      %i.ri-flashlight-line
        FTBFS
  - if created
    %span.badge.bg-gray-300.text-dark
      Created:
      = time_to_timezone(bug.created_at.utc)
  - if updated
    %span.badge.bg-gray-300.text-dark{ data: { toggle: "tooltip", placement: "top" }, title: bug.updated_at.utc }
      Updated:
      = time_to_timezone(bug.updated_at.utc)
  - if bug.affects_stable
    %span.badge.bg-success
      stable
  - if bug.affects_testing
    %span.badge.bg-info
      testing
  - if bug.affects_unstable
    %span.badge.bg-danger
      unstable
