%dl
  %dt
    %i.ri-questionnaire-line.bg-secondary
    Q. How frequently bug information is updated?
  %dd
    %i.ri-question-answer-line.bg-light
    A. Every 15 minutes, it is designed to sync with debian-bugs-dist@lists.debian.org.
