-# %nav.navbar.col-lg-12.col-12.p-0.fixed-top.d-flex.flex-row
-#   .text-center.navbar-brand-wrapper.d-flex.align-items-center.justify-content-center
-#     = link_to "/home", :class => "navbar-brand brand-logo.mr-5" do
-#       = image_tag("/images/fabre-logo.svg", { class: "mr-2", alt: "Fabre icon", width: "48px", height: "48px" })
-#       Fabre
-#     = link_to "/home", :class => "navbar-brand brand-logo-mini" do
-#       = image_tag("/images/fabre-logo.svg", { alt: "Fabre icon", width: "48px", height: "48px" })
-#   .navbar-menu-wrapper.d-flex.align-items-center.justify-content-end
-#     %button.navbar-toggler.navbar-toggler.align-self-center{ data: { toggle: "minimize" }}
-#       %span.ri-menu-line

-#     - if @enable_search
-#       = form_tag("/bugs/search") do |f|
-#         %ul.navbar-nav.mr-lg-2
-#           %li.nav-item.nav-search.d-none.d-lg-block
-#             .input-group
-#               #navbar-search-icon.input-group-prepend.hover-cursor
-#                 %span#search.input-group-text
-#                   %span.ri-search-line
-#               %input#navbar-search-input.form-control{ name: "keywords", value: @keywords, placeholder: "Fabre - Yet another frontend of bugs.debian.org", aria: { label: "search", describedby: "search" }}
-#     - if !@enable_login
-#       .alert.alert-dismissible.alert-warning
-#         %button.close{ data: { dismiss: "alert" } }
-#           x
-#         %h4.alert-heading
-#           Warning!
-#         You are not allowed to signin Fabre. Disabled dashboard, bookmark, search and so on for now.
-#     %ul.navbar-nav.navbar-nav-right
-#       - if @enable_login
-#         - if salsa_username.nil?
-#           %li.nav-item.dropdown.mr-1
-#             = link_to("/signin") do
-#               %i.ri-login-box-line
-#           %li.nav-item.dropdown.mr-1
-#             = link_to("/help") do
-#               %i.ri-question-line
-#         - else
-#           %li.nav-item.nav-profile.dropdown
-#             = link_to("#", :class => "nav-link dropdown-toggle", data: { toggle: "dropdown" }, id: "profileDropdown") do
-#               = image_tag(salsa_avatar, { width: "31px", height: "31px", alt: salsa_username, loading: "lazy"})
-#             .dropdown-menu.dropdown-menu-right.navbar-dropdown{ aria: { labelledby: "profileDropdown" }}
-#               = link_to("/help", :class => "dropdown-item") do
-#                 %i.ri-question-line
-#                 Help
-#               = link_to("/profile", :class => "dropdown-item") do
-#                 %i.ri-profile-line
-#                 Profile
-#               = link_to("/settings", :class => "dropdown-item") do
-#                 %i.ri-user-settings-line
-#                 Settings
-#               = link_to("/signout", :class => "dropdown-item") do
-#                 %i.ri-logout-box-line
-#                 Sign Out
-#       - else
-#         %li.nav-item.dropdown.mr-1
-#           = link_to("/help") do
-#             %i.ri-question-line
-#     %button.navbar-toggler.navbar-toggler-right.d-lg-none.aligh-self-center{ data: { toggle: "offcanvas" }}
-#       %i.ri-menu-line

%nav.navbar.navbar-dark.navbar-theme-primary.px-4.col-12.d-md-none
  = link_to "/home", :class => "navbar-brand mr-lg-5" do
    = image_tag("/images/fabre-logo-light.svg", { alt: "Fabre logo", class: "navbar-brand-dark" })
    = image_tag("/images/fabre-logo-dark.svg", { alt: "Fabre logo", class: "navbar-brand-light" })
  .d-flex.align-items-center
    %button.navbar-toggler.d-md-none.collapsed{ data: { bs: { toggle: "collapse", target: "#sidebarMenu"} }, aria: { controls: "sidebarMenu", expanded: "false", label: "Toggle navigation" }}
      %span.navbar-toggler-icon
