%p
  = link_to("#{url_prefix}/bugs/show/#{bug._key}") do
    = "\##{bug._key}"
%p
  - if bug.blocked_by.size > 1
    %span.badge.badge-lg.bg-gray-600{ data: { toggle: "tooltip", placement: "top" }, title: "blocked by" }
      %a{ href: "#{url_prefix}/bugs/show/#{bug._key}" }
        %i.ri-bug-line.icon-sm
        = bug.blocked_by.size
  - else
    %span.badge.badge-lg.bg-warning{ data: { toggle: "tooltip", placement: "top" }, title: "blocked by" }
      %a{ href: "#{url_prefix}/bugs/show/#{bug._key}" }
        %i.ri-bug-line.icon-sm
        = bug.blocked_by.size
