%p
  = link_to("#{url_prefix}/bugs/show/#{bug._key}") do
    = "\##{bug._key}"
%p
  - if bug.comment.size > 1
    %span.badge.badge-lg.bg-gray-600{ data: { toggle: "tooltip", placement: "top" }, title: "comments" }
      %a{ href: "#{url_prefix}/bugs/show/#{bug._key}" }
        %i.ri-discuss-line.icon-sm
        = bug.comment.size
  - else
    %span.badge.badge-lg.bg-warning{ data: { toggle: "tooltip", placement: "top" }, title: "comment" }
      %a{ href: "#{url_prefix}/bugs/show/#{bug._key}" }
        %i.ri-chat-2-line.icon-sm
        = bug.comment.size
