- if @enable_login and session[:username]
  - @url_prefix = "/debian"
- else
  - @url_prefix = ""
%nav{ aria: { label: "Fabre page navigation"} }
  %ul.pagination
    - if records.first_page?
      %li.page-item.disabled
        =link_to("#", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-skip-back-mini-line
      %li.page-item.disabled
        =link_to("#{@url_prefix}#{base_url}?page=#{records.first_page}", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-arrow-left-s-line
    - else
      %li.page-item
        =link_to("#{@url_prefix}#{base_url}?page=#{records.first_page}", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-skip-back-mini-line
      %li.page-item
        =link_to("#{@url_prefix}#{base_url}?page=#{records.current_page - 1}", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-arrow-left-s-line
    - if records.last_page <= 10
      - pages = (1..records.last_page)
    - elsif records.current_page <= 5
      - pages = (1..10)
    - elsif records.current_page - 5 > 0 and records.current_page + 5 <= records.last_page
      - pages = (records.current_page - 5..records.current_page + 5)
    - else
      - pages = (records.current_page - 5..records.last_page)
    - pages.each do |i|
      - if i == records.current_page
        %li.page-item
          =link_to("#{@url_prefix}#{base_url}?page=#{i}", class: "page-link bg-warning", aria: { label: "page #{i}" } ) do
            = i
      - else
        %li.page-item
          =link_to("#{@url_prefix}#{base_url}?page=#{i}", class: "page-link", aria: { label: "page #{i}" } ) do
            = i
    - if records.last_page?
      %li.page-item.disabled
        =link_to("#", class: "page-link", aria: { label: "last link" } ) do
          %span.ri-arrow-right-s-line
      %li.page-item.disabled
        =link_to("#{@url_prefix}#{base_url}?page=#{records.last_page}", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-skip-forward-mini-line
    - else
      %li.page-item
        =link_to("#{@url_prefix}#{base_url}?page=#{records.current_page + 1}", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-arrow-right-s-line
      %li.page-item
        =link_to("#{@url_prefix}#{base_url}?page=#{records.last_page}", class: "page-link", aria: { label: "first link" } ) do
          %span.ri-skip-forward-mini-line
