- if full_width
  - if bug.severity and bug.severity._key == "critical"
    %span.badge.badge-lg.disabled.w-100
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "grave"
    %span.badge.badge-lg.bg-warning.disabled.w-100
      %i.ri-bug-line
      = bug.severity and bug.severity._key
  - elsif bug.severity and bug.severity._key == "serious"
    %span.badge.badge-lg.disabled.w-100
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "important"
    %span.badge.badge-lg.bg-info.disabled.w-100
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "normal"
    %span.badge.badge-lg.bg-primary.disabled.w-100
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "minor"
    %span.badge.badge-lg.bg-dark.disabled.w-100
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "wishlist"
    %span.badge.badge-lg.bg-success.disabled.w-100
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key
    = bug.severity._key
- else
  - if bug.severity and bug.severity._key == "critical"
    %span.badge.badge-lg.bg-danger.disabled
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "grave"
    %span.badge.badge-lg.bg-warning.disabled
      %i.ri-bug-line
      = bug.severity and bug.severity._key
  - elsif bug.severity and bug.severity._key == "serious"
    %span.badge.badge-lg.bg-secondary.text-dark.disabled
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "important"
    %span.badge.badge-lg.bg-info.disabled
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "normal"
    %span.badge.badge-lg.bg-primary.disabled
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "minor"
    %span.badge.badge-lg.bg-dark.disabled
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key == "wishlist"
    %span.badge.badge-lg.bg-success.disabled
      %i.ri-bug-line
      = bug.severity._key
  - elsif bug.severity and bug.severity._key
    = bug.severity._key
