%nav#sidebarMenu.sidebar.d-md-block.bg-dark.text-white.collapse{ data: { simplebar: "init" }}
  .sidebar-inner.px-4.pt-3

    .user-card.d-flex.d-md-none.align-items-center.justify-content-between.justify-content-md-center.pb-4
      .d-flex.align-items-center
      .collapse-close.d-md-none
        %a{ href: "#sidebarMenu", class: "ri-close-line", data: { bs: { toggle: "collapse", target: "#sidebarMenu" } }, aria: { controlls: "sidebarMenu", expanded: "true" } }
    %ul.nav.flex-column.pt-3.pt-md-0
      - if @enable_login and session[:username]
        %li.nav-item.active
          = link_to("/debian/dashboard", :class => "nav-link") do
            %i.ri-dashboard-line.menu-icon
            %span.menu-title
              Dashboard
      - if @enable_login and session[:username]
        - @url_prefix = "/debian"
      - else
        - @url_prefix = ""
      %li.nav-item
        %span.nav-link.d-flex.justify-content-between.align-items-center{ data: { toggle: "collapse", target: "#submenu-app" }}
          %span
            %span.sidebar-icon
              %%i.ri-bug-line.menu-icon
            Bugs
          %span.link-arrow
            %i.menu-arrow
          %i.ri-arrow-down-s-line
        #submenu-app.multi-level.collapse.show{ role: "list", aria: { expanded: true } }
          %ul.flex-column.nav
            - if @enable_login and session[:username]
              %li.nav-item
                = link_to("#{@url_prefix}/bugs/bookmark", :class => "nav-link") do
                  Bookmarked
              %li.nav-item
                = link_to("#{@url_prefix}/bugs/affected", :class => "nav-link") do
                  Affected
              %li.nav-item
                = link_to("#{@url_prefix}/bugs/noreply", :class => "nav-link") do
                  Missing reply
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/recent/updated", :class => "nav-link") do
                Recent Updated
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/recent/created", :class => "nav-link") do
                Recent Created
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/rc", :class => "nav-link") do
                Release Critical
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/ftbfs", :class => "nav-link") do
                FTBFS
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/security", :class => "nav-link") do
                Security
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/recent/30days", :class => "nav-link") do
                Within 30 days
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/recent/90days", :class => "nav-link") do
                Within 90 days
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/newcomer", :class => "nav-link") do
                Newcomer
            - if ENV["RACK_ENV"] == "development"
              %li.nav-item
                = link_to("#{@url_prefix}/bugs/blockedby", :class => "nav-link") do
                  Blocked Bugs
            %li.nav-item
              = link_to("#{@url_prefix}/bugs/archtag", :class => "nav-link") do
                ArchitectureTags

      - if @enable_login and session[:username]
        %li.nav-item
          = link_to("#{@url_prefix}/settings", :class => "nav-link") do
            %i.ri-user-settings-line.menu-icon
            %span.menu-title
              Settings
        %li.nav-item
          = link_to("/signout", :class => "btn btn-secondary btn-sidebar align-items-center") do
            %i.menu-icon.ri-logout-box-line
            %span.menu-title
              Sign-Out
      - elsif @enable_login
        %li.nav-item
          = link_to("/signin", :class => "btn btn-success btn-sidebar align-items-center") do
            %i.menu-icon.ri-login-box-line
            %span.menu-title
              Sign-In

      %li.nav-item
        = link_to("/", :class => "btn btn-gray-300 d-flex align-items-center justify-content-center btn-fabre") do
          %span
            %i.menu-icon.ri-home-2-line
              Fabre
    
