%nav.navbar.navbar-top.navbar-expand.navbar-dashboard.navbar-dark.pl-0.pr-2.pb-0
  .container-fluid.px-0
    #navbarSupportedContent.d-flex.justify-content-between.w-100
      .d-flex
        / Search Form
        - if @enable_search and @enable_login
          = form_tag("/bugs/search", class: "navbar-search form-inline m-1", remote: true) do |f|
            .input-group.input-group-merge.search-bar
              %span#topbar-addon{ class: "input-group-text" }
                %span.ri-search-line
              %input#topbarInputIconLeft.form-control{ name: "keywords", value: @keywords, placeholder: "Search", aria: { label: "Search", describedby: "Search" }}

      / Navbar
      %ul.navbar-nav.align-items-center
        - if @enable_login
          - if salsa_username.nil?
            %button.btn.btn-success.text-white.mr-2
              %li.nav-item.dropdown
              = link_to("/signin") do
                %i.ri-login-box-line
            %button.btn.btn-warning.text-dark
              %li.nav-item.dropdown
                = link_to("/help") do
                  %i.ri-question-line
          - else
            %li.nav-item.dropdown
              = link_to("#", :class => "nav-link dropdown-toggle pt-1 px-0", :role => "button", data: { bs: { toggle: "dropdown" } }, aria: { expanded: false }) do
                .media.d-flex.align-items-center
                  = image_tag(salsa_avatar, { width: "31px", height: "31px", alt: salsa_username, loading: "lazy"})
                  .media-body.ml-2.text-dark.align-items-center.d-none.d-lg-block
                    %span.mb-0.font-small.font-weight-bold
                      = salsa_username
              .dropdown-menu.dashboard-dropdown.dropdown-menu-right.mt-2
                = link_to("/help", :class => "dropdown-item") do
                  %i.ri-question-line
                  Help
                = link_to("/profile", :class => "dropdown-item") do
                  %i.ri-profile-line
                  Profile
                = link_to("/settings", :class => "dropdown-item") do
                  %i.ri-user-settings-line
                  Settings
                = link_to("/signout", :class => "dropdown-item") do
                  %i.ri-logout-box-line
                  Sign Out
        - else
          %button.btn.btn-tertiary.text-white.mb-2
            = link_to("/help") do
              %i.ri-question-line

          
/= javascript_include_tag "/autocomplete.js/js/autoComplete.min.js"
