!!! Strict
%html
  %head
    = partial "layouts/meta", locals: { title: page_title }
  %body.bg-soft
    = partial "layouts/header", locals: { title: page_title }

    .container-fluid
      .row
        .col-12

          = partial "layouts/sidebar", locals: { title: page_title}

          %main.content
            = yield
            = partial "layouts/footer", locals: { title: page_title}
    /%script{ src: "/royalui/template/vendors/base/vendor.bundle.base.js", type: "text/javascript" }
    /%script{ src: "/royalui/template/js/off-canvas.js", type: "text/javascript" }
    /%script{ src: "/royalui/template/js/hoverable-collapse.js", type: "text/javascript" }
    /%script{ src: "/royalui/template/js/template.js", type: "text/javascript" }
    /%script{ src: "/royalui/template/js/todolist.js", type: "text/javascript" }
    /%script{ src: "/royalui/template/js/dashboard.js", type: "text/javascript" }
    = javascript_include_tag "application"
